@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-tourney);
}

@theme {
  --color-*: initial;
  --color-white: oklch(1 0 0);
  --color-black: oklch(0 0 0);
  --color-dark-red: oklch(0.4852 0.1716 24.86);
  --color-red: oklch(0.5514 0.2242 26.2);
  --color-light-red: oklch(0.6596 0.2111 18.36);
  --color-dark-orange: oklch(0.6003 0.1974 37.32);
  --color-orange: oklch(0.7014 0.199453 43.5881);
  --color-light-orange: oklch(0.8053 0.131 59.84);
  --color-dark-yellow: oklch(0.8234 0.170805 79.4982);
  --color-yellow: oklch(0.8938 0.1844 97.39);
  --color-light-yellow: oklch(0.9235 0.1569 104.75);
  --color-dark-green: oklch(0.536 0.16831 145.0561);
  --color-green: oklch(0.6883 0.2177 144.81);
  --color-light-green: oklch(0.845 0.122 143.45);
  --color-dark-blue: oklch(0.5621 0.1614 250.55);
  --color-blue: oklch(0.75 0.13 211.6);
  --color-light-blue: oklch(0.8522 0.0678 211.42);
  --color-dark-purple: oklch(0.3673 0.1804 315.56);
  --color-purple: oklch(0.5321 0.2294 328.55);
  --color-light-purple: oklch(0.7178 0.1678 335.03);
  --color-grey-800: oklch(0.2603 0.0189 248.56);
  --color-grey-700: oklch(0.3606 0.0222 240.66);
  --color-grey-600: oklch(0.5068 0.0205 240.32);
  --color-grey-500: oklch(0.6167 0.0167 235.55);
  --color-grey-400: oklch(0.7325 0.0101 222.1);
  --color-grey-300: oklch(0.8232 0.0062 223.47);
  --color-grey-200: oklch(0.8648 0.0036 219.54);
  --color-spline-grey: oklch(0.2952 0.0185 258.37);
  --color-red-100: oklch(0.308 0.0532 17.02);
  --color-red-75: oklch(0.5102 0.207692 26.5786);
  --color-red-50: oklch(0.5725 0.2332 29.48);
  --color-red-25: oklch(0.6888 0.2018 18.4);
  --color-red-10: oklch(0.8371 0.0919 10.78);
  --color-orange-100: oklch(0.3964 0.08 33.69);
  --color-orange-75: oklch(0.6003 0.1974 37.32);
  --color-orange-50: oklch(0.669 0.220368 37.7178);
  --color-orange-25: oklch(0.7014 0.199453 43.5881);
  --color-orange-10: oklch(0.8682 0.0835 62.25);
  --color-yellow-100: oklch(0.4657 0.0815 77.1);
  --color-yellow-75: oklch(0.8234 0.170805 79.4982);
  --color-yellow-50: oklch(0.875 0.1791 92.68);
  --color-yellow-25: oklch(0.899 0.1681 98.31);
  --color-yellow-10: oklch(0.9235 0.1569 104.75);
  --color-green-100: oklch(0.3286 0.0303 161.17);
  --color-green-75: oklch(0.536 0.16831 145.0561);
  --color-green-50: oklch(0.6883 0.2177 144.81);
  --color-green-25: oklch(0.7344 0.1772 137.94);
  --color-green-10: oklch(0.8628 0.0905 154.9);
  --color-blue-100: oklch(0.2666 0.0527 229.3);
  --color-blue-75: oklch(0.328 0.1807 269.23);
  --color-blue-50: oklch(0.5621 0.1614 250.55);
  --color-blue-25: oklch(0.75 0.13 211.6);
  --color-blue-10: oklch(0.8522 0.0678 211.42);
  --color-purple-100: oklch(0.2697 0.0818 301.66);
  --color-purple-75: oklch(0.3673 0.1804 315.56);
  --color-purple-50: oklch(0.5321 0.2294 328.55);
  --color-purple-25: oklch(0.7178 0.1678 335.03);
  --color-purple-10: oklch(0.8415 0.0756 328.39);
  --color-grey-bg: oklch(0.9848 0.0036 219.54);
  --color-grey-100: oklch(0.2603 0.0189 248.56);
  --color-grey-75: oklch(0.3606 0.0222 240.66);
  --color-grey-50: oklch(0.5068 0.0205 240.32);
  --color-grey-25: oklch(0.7325 0.0101 222.1);
  --color-grey-10: oklch(0.8648 0.0036 219.54);
}

body {
  font-family: 'Inter', sans-serif;
}

.bp-gradient {
  background-image: linear-gradient(
    90deg,
    var(--color-red-50),
    var(--color-orange-50),
    var(--color-yellow-50),
    var(--color-green-50),
    var(--color-blue-50),
    var(--color-purple-50)
  );
}

.footnotes {
  margin-top: 56px;
}

.footnotes h2 {
  font-size: var(--text-lg);
}

.footnotes p {
  font-size: var(--text-sm);
}
